* {
  outline: 0px solid blue;
}
body {
  font-family: 'Open Sans';
  background-color: rgb(255, 255, 255);
  /* height: 2000px; */
  box-sizing: border-box;
  overflow-x: hidden;
}
.body {
  /* width: 100%; */
  /* margin: 0 5% 5% 5%; */

  /* height: 100%; */
  background-color: rgb(66, 63, 63);
  /* padding: 5% auto; */
  margin: 0;
  padding: 0;
}
.nav-item {
  padding: 0 10px 0 10px;
}
.sizing {
  padding-left: 5%;
  padding-right: 5%;
}
.navbar {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  color: black;
}
/* .carousel-item::before {
  content: '';
  /* display: block; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(60, 61, 61, 0.5);
} */
.showcase {
  /* max-height: 800px; */
  /* height: 500px; */
  background-color: #05595b;
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
}
@media screen and (min-width: 576px) {
  .showcase {
    padding: 100px 0 100px 0;
  }
}
@media screen and (max-width: 576px) {
  .showcase {
    padding: 50px 0 50px 0;
  }
}
.showcase-left {
  padding-left: 5%;
  padding-right: 5%;
}
.showcase-slider {
  border-radius: 30px;
}
.sales {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: #05595b; */
  background: #fff;
  /* background-color: #3a3845; */
}
.holder {
  position: relative;
}
.holder-img {
  display: block;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.overlay-txt {
  position: relative;
  /* vertical-align: middle; */
  top: 5rem;
  border: none;
  outline: none;
}
.holder:hover .overlay {
  opacity: 1;
}
.cart {
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.shop {
  background-color: #fff;
  color: #05595b;
}
.shop:hover {
  background-color: #05595b;
  color: white;
  opacity: 0.8;
}
.container {
  max-width: 960px;
}
.investment {
  padding-top: 100px;
  padding-bottom: 10000px;
}
.invest-img {
  width: 65%;
}
.investment-content {
  /* padding: 7%; */
}
.investment-content a {
  color: #fff;
}
.invest-header {
  font-size: 3rem;
  font-family: 'U8';
  font-weight: 700;
  color: #0c1825;
}
.returns {
  /* width: 40%; */
  font-size: 1.25rem;
  background-color: #05595b;
  color: white;
  border-radius: 50px;
  padding: 10px;
}
.subtext {
  color: #353535;
}
